@import'_public.scss';

/*header*/
header{
    width: 100%;
    background:#f6f6f6;
}
.head-section{
    width: 1500px;
    height: 40px;
    margin:0 auto;
}
.head-section-L{
    width: 450px;
    height: 40px;
    float: left;
}
.head-section-R{
    width: 327px;
    height: 40px;
    float: right;
}
header span{
    font-size:16px;
    color:#646464;
    line-height: 40px;
}

/*logo-segment*/
.logo-segment{
    width: 100%;
    background:yellow;
}
.logo-segment-zd{
    width: 1500px;
    height: 138px;
    background:white;
    margin: 0 auto;
}
.logo-segment-zd img{
    margin-top:30px;
    margin-left:14px;
    display: block;
    float: left;
}
.logo-segment-z{
    width: 680px;
    height: 138px;
    position:relative;
    display:flex;
    justify-items: center;
    margin-left:130px;
    display: inline-block;
}
.logo-segment-z #ssk{
    width: 572px;
    height: 40px;
    border:2px solid red;
    margin-top:30px;
}
.logo-segment-z #ss{
    width: 104px;
    height: 44px;
    border:2px solid red;
    border-left:none;
    border-top:none;
    background:red;
    color:white;
    margin-top:30px;
}
.logo-segment-z span{
    color:#999999;
    font-size: 14px;
    line-height: 40px;
} 
.logo-segment-z span a{
    color:#999999;
    font-size: 14px;
} 
.logo-segment-r{
    width: 160px;
    height: 40px;
    margin-top:32px;
    float:right;
}
.logo-segment-r a{
    display: inline-block;
    width: 100%;
    height:100%;
    border:1px solid #cccccc;
}
.logo-segment-r a li{
    float:left;
    width:24px;
    height:22px;
    background-image: url(../img/sygwc.png);
    
}